<p><%= @array %></p>

<form action="/score" data-turbo="false" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input id="tags_list" name="array" type="hidden" value=<%=@array.join%>>
  <label for="word">Type a word</label>
  <input type="text" name="word">
  <input type="submit" value="Submit!" >
</form>
